@import "../../App.scss";

.herosection {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #161641);
    position: relative;

    .wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;
        padding: 100px;
        @include mobile {
            height: auto;
            padding: 0;
            margin: 0;
        }

        .text-container {
            position: relative;
            width: 55%;
            height: 100%;
            display: flex;
            justify-content: center;
            z-index: 10;
            flex-direction: column;
            gap: 20px;
            @include mobile {
                width: 100%;
                height: 50%;
                gap: 10;
            }

            h1 {
                color: rebeccapurple;
                letter-spacing: 8px;
                font-size: 26px;
                font-weight: 600;
                @include mobile {
                    font-size: 36px;
                    letter-spacing: 10px;
                    text-align: center;
                }
            }

            h2 {
                font-size: 60px;
                font-weight: 900;
                @include mobile {
                    font-size: 40px;
                    letter-spacing: 10px;
                    text-align: center;
                }
            }

            .button-container {
                @include mobile {
                    display: flex;
                    justify-content: center;
                }
                button {
                    position: relative;
                    padding: 15px;
                    margin-right: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background: transparent;
                    cursor: pointer;
                    font-weight: 900;
                    transition: all 0.3s ease;
                    z-index: 999;
                    @include mobile {
                        font-weight: 500;
                    }
                }
                button:hover {
                    background-color: white;
                    color: black;
                }
            }

            img {
                width: 40px;
                @include mobile {
                    display: none;
                }
            }
        }
    }

    .sliding-text-container {
        pointer-events: none;
        position: absolute;
        font-size: 35vh;
        bottom: 5%;
        white-space: nowrap;
        color: #66668614;
        width: 100vw;
        height: 300px;
        z-index: 0;
        font-weight: 600;
        @include mobile {
            display: none;
        }
    }

    .image-container {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%; // desktop width
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            
        }

        @include mobile {
            position: relative; 
            top: 50;             
            right: 0;         
            height: 50%;      
            width: 100%;
            margin-top: 20px;  
            z-index: 1;
            
        }
    }
}
