.herosection{
    height :calc(100vh - 100px);
    background: linear-gradient(180deg,#0c0c1d ,#161641);
    position: relative;
    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
        padding: 100px;
        
        .text-container{
            position: relative;
            width: 55%;
            height: 100%;
            display: flex;
            justify-content: center;
            z-index: 10;
            
            flex-direction: column;
            gap: 20px;
            h2{
                color: rebeccapurple;
                letter-spacing: 8px;
                font-size: 30px;
                font-weight: 900;
            }
            h1{
                
                font-size: 60px;
                font-weight: 900;
                
              
            }
            img{
                width: 40px;
            }
            button{
                position: relative;
                padding:15px;
                margin-right: 20px;
                border: 1px solid white;
                border-radius: 10px;
                background: transparent;
                cursor: pointer;
                font-weight: 900;
                transition: all 0.3s ease;
                z-index: 1000;
            }
            button:hover{
                background-color: white;
                color: black;
            }

            
        

       }
       .sliding-text-container{
        position: absolute;
        font-size: 35vh;
        bottom:5%;
        white-space: nowrap;
        color:#66668614;
        width: 100vw;
        height: 300px;
        z-index:0;
        font-weight: 600;
        

       }
       .image-container{
            height:100%;
            position: absolute;
            top: 0;
            right: 0;

        }

    }
   
}


