.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    
   
   
    .bground{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 400px;
        z-index: 1000;
        
     
        background-color: white;
        .links{
            
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            color: black;
            gap: 20px;
            .link{
                font-size: 30px;

            }

        }
    
    }
    .togglebuttons{
        z-index: 2000;
        width: 50px;
        height: 50px;
        padding-left: 10px;
        position: fixed;
        top:20px;
        left:25px;
        background-color: white;
        border-radius: 50%;
       
        
    }
    
}
