.parent{
    
    background-color: violet ;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
    .child{
        position:fixed;
        background-color: blue;
        height:1000px;
        width:400px;
        top: 0;
        left:0;
        display: flex;
        justify-content: center;
        align-items: center;
        .grandchild{
            position: absolute;


        }

    }
    .buttons{
        position:fixed;
        top: 0;
        left:0 ;
        margin: 25px;
    }


}


