.navbar{
    
    height: 100px;
   
    ;
    .wrapper{
        margin-left:200px; 
        max-width: calc(1366px - 200px);
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        height: 100px;
        
        span{
            font-weight: bolder;
        }
        .social{
            display: flex;
            justify-content: center;
            gap: 20px;
            img{
                height: 18px;
                width: 18px;
            }
        }

    }
}