@import "../../App.scss";
.parallex{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    h1{
        font-size: 90px;
        font-weight: 600;
        @include mobile{
            font-size: 70px;
            text-align: center;
        }
    }
    .mountains{
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: bottom;
        position: absolute;
        z-index: 999;
        @include mobile{
            background-size: contain;
            background-repeat: no-repeat;
        }

    }
    .planets{
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: bottom;
        position: absolute;
        z-index: 2;
        @include mobile{
            background-size: contain;
            background-repeat: no-repeat;
        }


    }
    .stars{
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: bottom;
        position: absolute;
        


    }
}

