.service {
  height: 100%;

  background: linear-gradient(180deg, #0c0c1d, #111132);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title-container {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;
    hr {
      width: 400px;
      font-weight: bolder;
      border: none;
      border-top: 0.5px solid grey;
    }
  }
  .text-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      display: flex;
      align-items: center;
      h1{
        font-size: 60px;
        
        b{
          font-weight: 900;
        }
        
      }
      
      button {
        width: 300px;
        height: 70px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 25px;
        cursor: pointer;
      }
      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;
      }
    }
  }
  .skillBox {
    flex: 2.5;
    display: flex;
    max-width: 1366px;
    margin: auto;

    .skill {
      border: 0.5px solid grey;
      width: 300px;
      padding: 40px;
      display: flex;
      flex-direction: column;

      h2 {
        margin-bottom: 20px;
        font-weight: 900;
        font-size: large;
      }
      p {
        font-size: medium;
      }
    }
  }
  .technologies {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 40px;
        font-weight: 600;
    }
    .tech-images-cover {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 600px;
      .tech-image-box{

        border-radius: 10px;
        border: 1px solid  rgb(36, 34, 34);
        padding: 4px;
        .tech-image{
          font-size:60px;
          border-radius: 10px;
      
        }
        &:nth-Child(1) .tech-image{
          color: cyan;
        }
        &:nth-Child(2) .tech-image{
          color: rgb(247, 223, 30);
         
        }
        &:nth-Child(3) .tech-image{
          color: rgb(49, 120, 198);
          
        }
        &:nth-Child(4) .tech-image{
          height: 60px;
          width: 60px;

         
        }
        &:nth-Child(5) .tech-image{
          color: cyan;
          
        }
        &:nth-Child(6) .tech-image{
          color: rgb(77, 179, 61);
          
        }
        &:nth-Child(7) .tech-image{
          color:  grey;
         
          
        }
      }

      
    }
  }
}
