.projects{
    position: relative;
    .progress{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: orange;
        font-size: 46px;
        font-weight: 900;
        .progress-bar{
            height: 10px;
            background: white;
            margin: 10px;

        }
    }
}