html{
    
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans",sans-serif,;
    
}
body{
    background-color: #0c0c1d;
    color: lightgray;
}
a{
    text-decoration: none;
    color: inherit;
}
section{
    height: 100vh;
    scroll-snap-align: start;
    
}
#service-section {
  height: 130vh;           
  scroll-snap-align: start; 
  overflow: hidden; 
  #service-wrapper {
  height: 100%;           
  overflow-y: auto;        
  scroll-behavior: smooth;
  padding: 20px;
}

     
}

@mixin mobile {
    @media(max-width: 798px){
        @content;
    }

}



